// Variables

$primary: #1a1122;
$primaryLighter: #652067;

$green: #8dcc7b;
$yellow: #ffff00;

$red1: #d23763;
$red2: #ce0f0f;

$pink1: #dc74a1;
$pink2: #d23763;

$orange1: #e9860a;
$orange2: #e32818;
